<button mat-raised-button (click)="createTestData()">Create Test Data</button>
@if (gameDataList.length > 0) {
  <button mat-raised-button (click)="PopulateTable()">Reload Saves</button>
  <button mat-raised-button (click)="clearSaves()">Clear Saves</button>

  <mat-accordion>
    @for (data of gameDataList; track $index) {
      <mat-expansion-panel>              
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ data.Date }}
            </mat-panel-title>
            <mat-panel-description>
              {{ data.Time }} - {{  data.DidWin ? '✔️' : '❌' }} 
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h1>Data from {{ data.Date }}</h1>

          <h2>{{ data.DidWin ? 'Target Score Achieved' : 'Target Score Not Achieved' }}</h2>
          <h2>{{ data.FinalScore }} / {{ data.TargetScore }} Points</h2>

          <h3>Average BPM: {{ data.BpmList.GetAvgBpm() }}</h3>
          @if(data !== null) {
          <h3>Average SpO2: {{ Math.round(data.Spo2List.GetAvgSpo2() * 10) / 10 }}%</h3>
          }
          <button mat-raised-button (click)="deleteData(data)">Delete</button>
          <div id="chartWrapper">
            <div>
              <canvas class="chart" id="bpmChart{{ $index }}"></canvas>
            </div>
            <div>
              <canvas class="chart" id="spo2Chart{{ $index }}"></canvas>
            </div>
          </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <button mat-raised-button (click)="PopulateTable()">Load Saves</button>
  <p>No game data available. Try Loading Saves</p>
}

