<button mat-raised-button (click)="createTestData()">Create Test Data</button>
<button mat-raised-button (click)="importData()">Import
    <input type="file" style="display:none"/>
  </button>
@if (gameDataList.length > 0) {
  <button mat-raised-button (click)="PopulateTable()">Reload Saves</button>
  <button mat-raised-button (click)="clearSaves()">Clear Saves</button>
  

  <mat-accordion>
    @for (data of gameDataList; track $index) {
      <mat-expansion-panel>              
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ data.Date.getDate() > 9 ? data.Date.getDate() : '0' + data.Date.getDate() }}.{{ data.Date.getMonth() + 1 > 9 ? data.Date.getMonth() + 1 : '0' + (data.Date.getMonth() + 1) }}.{{ data.Date.getFullYear() }}
              {{ data.Date.getHours() > 9 ? data.Date.getHours() : '0' + data.Date.getHours() }}:{{ data.Date.getMinutes() > 9 ? data.Date.getMinutes() : '0' + data.Date.getMinutes() }}
            </mat-panel-title>
            <mat-panel-description>
              {{ Math.floor(data.Time / 60) }}m {{ data.Time % 60 }}s - {{  data.DidWin ? '✔️' : '❌' }} 
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h1>Data from {{ data.Date }}</h1>

          @if(data.DidWin) {
            <h2 style="color: green;"> Target Score Achieved</h2>
          } @else {
            <h2 style="color: red;"> Target Score Not Achieved</h2>
          }
          <h2>{{ data.FinalScore }} / {{ data.TargetScore }} Points</h2>

          <h3>Average BPM: {{ data.VitalsList.GetAvgBpm() }}</h3>
          @if(data !== null) {
          <h3>Average SpO2: {{ Math.round(data.VitalsList.GetAvgSpo2() * 10) / 10 }}%</h3>
          }
          <div id="chartWrapper">
            <div>
              <canvas class="chart" id="bpmChart{{ $index }}"></canvas>
            </div>
            <div>
              <canvas class="chart" id="spo2Chart{{ $index }}"></canvas>
            </div>
          </div>
          <button mat-raised-button (click)="deleteData(data)">Delete</button>
          <button mat-raised-button (click)="exportData(data)">Export</button>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <button mat-raised-button (click)="PopulateTable()">Load Saves</button>
  <p>No game data available. Try Loading Saves</p>
}

