import { IMqttServiceOptions } from 'ngx-mqtt';

export const MQTT_SERVICE_OPTIONS: IMqttServiceOptions = {
  connectOnCreate: false,
  hostname: '<hostname>',
  port: 8884,
  protocol: 'wss',
  username: '<username>',
  password: '<password>',
  clientId: '<clientId>',
  connectTimeout: 5000,
  clean: true,
  path: '/mqtt'
};